{% extends 'base.html' %}
{% block content %}
<h2>DIY Projects</h2>

{% if user.is_authenticated %}
    {% if my_projects %}
        <h3>Projects Created</h3>
        <ul>{% for p in my_projects %}<li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>{% endfor %}</ul>
    {% endif %}

    {% if favorited_projects %}
        <h3>Projects Favorited</h3>
        <ul>{% for p in favorited_projects %}<li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>{% endfor %}</ul>
    {% endif %}
{% endif %}

<h3>All Projects</h3>
<ul>
    {% for p in all_projects %}
        <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a> ({{ p.category.name }})</li>
    {% endfor %}
</ul>

{% if user.profile.role == "Project Creator" %}
    <a href="{% url 'diyprojects:project_create' %}">Create New Project</a>
{% endif %}
{% endblock %}