{% block content %}
<h1>Merchandise Store</h1>

<h2>Product List</h2>

{% if user.is_authenticated %}
    <h3>Your Products</h3>
    {% for p in your_products %}
        <li><a href="{% url 'merchstore:product-detail' p.pk %}">{{ p.name }}</a> - ₱{{ p.price }}</li>
    {% empty %}
        <p>You have no products.</p>
    {% endfor %}
{% endif %}

<h3>All Products</h3>
{% for p in other_products %}
    <li><a href="{% url 'merchstore:product-detail' p.pk %}">{{ p.name }}</a> - ₱{{ p.price }}</li>
{% empty %}
    <p>No products available.</p>
{% endfor %}

<br>
<br>
<a href="{% url 'merchstore:product-create' %}">
    Add Product
</a>
<a href="/">Back to Homepage</a>
{% endblock %}