
{% block content %}
<h1>Merchandise Store</h1>

<h2>{{ object.name }}</h2>
<img src="{{ object.product_image.url }}">
<p>{{ object.description }}</p>
<p><strong>Price:</strong> {{ object.price }}</p>
<p><strong>Stock:</strong> {{ object.stock }}</p>

{% if user.is_authenticated and object.owner == user.profile %}
    <a href="{% url 'merchstore:product-update' object.pk %}">
        Edit Product
    </a>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object.stock == 0 %}
        <button type="submit" disabled>Out of Stock</button>
    {% else %}
        <button type="submit">Buy</button>
    {% endif %}
</form>
{% endblock %}